# Node modules
**/node_modules/

# Builds
**/dist/
**/.vite/
**/.cache/

# Archivos de entorno
**/.env

# Archivos subidos por usuarios
**/uploads/
!**/uploads/.gitkeep

# Logs
*.log
logs/

# Archivos del sistema y del editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db