**/node_modules/
./node_modules/
node_modules/
./Frontend/node_modules/
Frontend/node_modules
./backend/node_modules/
backend/node_modules

# archivos de build de frontend (si usa Vite, por ejemplo)
./Frontend/dist/
./backend/dist/

# archivos temporales de frontend
./Frontend/.cache/
./backend/.cache/

# archivos de logs
logs/
*.log

# archivos de entorno
backend/.env

# archivos de IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# archivos de sistema operativo
.DS_Store
Thumbs.db