# node_modules en cualquier parte
**/node_modules/

# Vite build
**/dist/
**/.vite/
**/.cache/

# React build (por si algún build va a otro lado)
build/




# Archivos de logs
*.log
logs/

# Configuración del editor
.vscode/
.idea/

# Swap y archivos temporales
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Test coverage (si usas testing con cobertura)
coverage/
