.fondo-header {
    position: absolute; /* Se mantiene en el fondo */
    top: 0px;
    left: 0;
    width: 100%;
    height: 70px; /* Ajusta la altura según el header */
    background-color: #dbdada; /* Color de fondo (ajústalo) */
    
  }
  