html {
    height: 100%;
}

#body-inicio-sesion {
  
   width: 600px;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.contenedorUnico {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    text-align: center;
}

.tituloUnico {
    margin: 0 0 30px;
    padding: 0;
    color: #06c6f7;
    text-align: center;
}

.usuarioUnico {
    position: relative;
}

.campoInputUnico {
    width: 100%;
    
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.labelInputUnico {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.campoInputUnico:focus ~ .labelInputUnico,
.campoInputUnico:valid ~ .labelInputUnico {
    
    left: 0;
    color: #03e9f4;
    font-size: 20px;
}

.btnLoginUnico {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btnLoginUnico:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.btnLoginUnico span {
    position: absolute;
    display: block;
}

.btnLoginUnico span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btnAnim1 1s linear infinite;
}

@keyframes btnAnim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.btnLoginUnico span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btnAnim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btnAnim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.btnLoginUnico span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btnAnim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btnAnim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.btnLoginUnico span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btnAnim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btnAnim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.logoUnico {
    width: 230px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.olvidoContrasenaUnico {
    margin-top: 10px;
}

.enlaceOlvidoUnico {
    color: #03e9f4;
    font-size: 13px;
    text-decoration: none;
    transition: .3s;
}

.enlaceOlvidoUnico:hover {
    text-decoration: underline;
}

.registroUnico {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
    font-size: 17px;
}

.textoRegistroUnico {
    color: #aaa;
}

.enlaceRegistroUnico {
    color: #03e9f4;
    text-decoration: none;
    transition: .3s;
}

.enlaceRegistroUnico:hover {
    text-decoration: underline;
}



/*boton 2*/
.btnLoginUnicor {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fcf7f7;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btnLoginUnicor:hover {
    background: #03f403;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.btnLoginUnicor span {
    position: absolute;
    display: block;
}

.btnLoginUnicor span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btnAnim1 1s linear infinite;
}

@keyframes btnAnim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.btnLoginUnicor span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03f453);
    animation: btnAnim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btnAnim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.btnLoginUnicor span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03f423);
    animation: btnAnim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btnAnim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.btnLoginUnicor span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03f43f);
    animation: btnAnim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btnAnim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
.logo-login{
    width: 200px;
    height: 200px;
    margin-right: 250px;
}
.mensaje-exito {
  color: green;
  font-weight: bold;
  font-size: 1.1rem;
}

.mensaje-error {
  color: red;
  font-weight: bold;
  font-size: 1.1rem;
}
