/* Estilos generales */

  
  .container {
    padding: 40px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  /* Estilo del título */
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #203ee6;
  }
  
  /* Contenedor de formulario */
  .form-container {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Campos de entrada */
  input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  /* Botón de agregar */
  .add-button {
    width: 100%;
    padding: 14px;
    background-color: #15b31d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(5px 5px 5px #51df1d);
    }

    .add-button:hover {
        background-color: #0a3ee9; 
        transform: scale(1.1); 
      }
  
  /* Estilo de los eventos */
  .event-item {
    padding: 14px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .event-name {
    font-weight: bold;
    font-size: 20px;
    color: #2e7d32;
  }
  
  .event-date, .event-type {
    font-size: 18px;
    color: gray;
  }
  
  .event-description, .event-activities {
    font-size: 16px;
    color: #555;
  }
  
  .event-activities {
    font-weight: bold;
    color: #333;
  }
  
  /* Botón de eliminar */
  .delete-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #1246f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .qr-section {
  margin-top: 15px;
  padding: 15px;
  border: 1px dashed #bbb;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
}

.qr-placeholder {
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.event-image img {
  width: 100%;
  max-width: 250px;
  height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.attendee-counter {
  margin-top: 10px;
  font-size: 16px;
  color: #1e88e5;
  font-weight: bold;
}
