.inventario-resumen {
  background: #fefefe;
  padding: 20px;
  margin: 30px auto;
  border-radius: 12px;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
}

.inventario-resumen h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #5eb319;
}

.inventario-resumen ul {
  list-style: none;
  padding-left: 0;
}

.inventario-resumen li {
  font-size: 1.1rem;
  margin-bottom: 12px;
  padding: 8px 12px;
  background-color: #f4f9f7;
  border-left: 4px solid #2ecc71;
  border-radius: 6px;
}
.inventario-resumen {
  background: #fefefe;
  padding: 20px;
  margin: 30px auto;
  border-radius: 12px;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
}

.inventario-resumen h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #5eb319;
}

.inventario-resumen ul {
  list-style: none;
  padding-left: 0;
}

.inventario-resumen li {
  font-size: 1.1rem;
  margin-bottom: 12px;
  padding: 8px 12px;
  background-color: #f4f9f7;
  border-left: 4px solid #2ecc71;
  border-radius: 6px;
}
